body {
  background-color: #ccc;
}

.dark-bg {
  background-color: darkslateblue;
}
.chat__display {
  background-color: white;
  min-height: 300px;
  margin-bottom: 1em;
}

.football__field {
  width: 594px;
  height: 392px;
  background: url(img/Field.png) no-repeat;
  background-size: cover;
  position: relative;
}
.football__player {
  position: absolute;
}
.mario__wraper {
  overflow: hidden;
}
.mario__container {
  width: 1900px;
  height: 480px;
  background: url(img/bg.jpg) repeat-x;
  /* background-size: cover; */
  position: relative;
  animation: slide 60s linear infinite;
}
/* @keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1000px, 0, 0);
  }
} */
.mario__img,
.mario__img--running {
  position: absolute;
  left: calc(50% - 32px);
  bottom: 64px;
}
.hidden {
  display: none;
}

.gallery__item {
  width: 150px;
  height: 150px;
}
.gallery__item--large {
  width: 300px;
  height: 300px;
}
.border {
  border: 1px solid red;
}
